.layout {
  &--wrap {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &--content {
    display: flex;
    padding: 24px;
  }

  &--footer {
    margin-top: 24px;
    padding-bottom: 24px;

    &--wrap {
      padding: 24px;
    }
  }

  .sidebar {
    width: 290px;
    margin-right: 20px;
    // padding: 0 20px;
  }

  .content {
    flex: 1;
    // padding-left: 20px;
  }
}

.logo {
  font-family: 'Kanit', sans-serif;
}